* {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    font-family: 'platformdefault', sans-serif;
    display: none;
    background-color: #2e3851;
}
a {
    text-decoration: none;
}
#traderoom {
    width: 100%;
    height: 100%;
}
#glcanvas {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#input {
    left: 0;
    top: 0;
    position: absolute;
    visibility: hidden;
}
#gif-preloader {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0.5);
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0.5);
    -moz-transform: translate3d(-50%, -50%, 0) scale(0.5);
    -o-transform: translate3d(-50%, -50%, 0) scale(0.5);
	transition: opacity 0.5s;
}
.gif-preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    margin: 0 auto;
}
#progressWrap {
    padding-top: 10px;
    max-width: 239px;
    margin: auto;
}
#totalProgress {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    display: none;
    overflow: hidden;
    opacity: 1;
    -webkit-animation: animateText9 2s linear 1;
    animation: animateText9 2s linear 1;
    margin: 5px auto;
    background: #434D64;
}
#textProgress {
    width: 300px;
    font-size: 16px;
    text-align: center;
    height: 22px;
    opacity: 1;
    /*-webkit-animation: animateText9 2s linear 1;
     animation: animateText9 2s linear 1;
    */
    margin: 15px auto 0 auto;
    color: #fff;
    font-family: 'Roboto Light', sans-serif;
}
#progress {
    background: #f4de48;
    /* Old browsers */
    background: -moz-linear-gradient(left, #f4de48 0%, #2cac40 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f4de48), color-stop(100%, #2cac40));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #f4de48 0%, #2cac40 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #f4de48 0%, #2cac40 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #f4de48 0%, #2cac40 100%);
    /* IE10+ */
    background: linear-gradient(to right, #f4de48 0%, #2cac40 100%);
    /* W3C */
    width: 0px;
    height: 100%;
    -webkit-transition: width 1s;
    transition: width 1s;
}
.loader-page {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: table;
}
.loader-page_dark {
    background: #191f2e;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #191f2e), color-stop(100%, #2e3851));
    background: -webkit-linear-gradient(top, #191f2e 0%, #2e3851 100%);
    background: linear-gradient(to bottom, #191f2e 0%, #2e3851 100%);
}
.map {
    opacity: 0.25;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    -ms-transform: translate3d(0, -50%, 0);
}
.main-loader-wrap {
    display: table;
    z-index: 29;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    background: #fff;
}
.animation-hide.main-loader-wrap {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.3);
    transition: opacity .5s ease-out, transform .5s ease-out;
}
.loader-page_dark {
    background: #191f2e;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #191f2e), color-stop(100%, #2e3851));
    background: -webkit-linear-gradient(top, #191f2e 0%, #2e3851 100%);
    background: linear-gradient(to bottom, #191f2e 0%, #2e3851 100%);
}
.logo-svg-container {
    display: table-cell;
    vertical-align: middle;
    min-height: 150px;
    position: relative;
    top: 60px;
}
@-webkit-keyframes animateText9 {
    0% {
        opacity: 0;
    }
    54% {
        opacity: 0;
    }
    64% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes animateText9 {
    0% {
        opacity: 0;
    }
    54% {
        opacity: 0;
    }
    64% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
/* popup */

@font-face {
    font-family: 'Roboto Light';
    src: url("Roboto-Light.ttf") format('truetype');
}
@font-face {
    font-family: 'Roboto Bold';
    src: url("Roboto-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'robotothin';
    src: url("Roboto-Light.ttf") format('truetype');
}
@font-face {
    font-family: 'robotobold';
    src: url("Roboto-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'platformdefault';
    src: url("Roboto-Regular.ttf") format('truetype');
}
.regulation-wrap {
    width: 100%;
    position: fixed;
    bottom: 50px;
    text-align: center;
    left: 0;
    display: none;
}
.regulation-text {
    display: inline-block;
    color: white;
    opacity: 0.35;
    text-align: left;
    top: -10px;
    position: relative;
    font-size: 13px;
    line-height: 17px;
    margin-left: 10px;
}
.regulation {
    display: inline-block;
    margin: 5px 0;
}
.regulation > svg {
    width: 100px;
    height: 40px;
}
.regulation:hover > svg g {
    opacity: 1;
}
.regulation:hover > .regulation-text {
    opacity: 1;
}
#webgl-not-support {
    font-family: 'Roboto Light', sans-serif;
    display: none;
    color: #fff;
    width: 450px;
    padding: 40px 60px;
    border-radius: 5px;
    background: #162033;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}
h1 {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 22px;
    margin: 0;
    margin-bottom: 15px;
    font-weight: normal;
}
h2 {
    margin: 0;
    margin-bottom: 25px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
}
span {
    font-size: 22px;
    margin: 10px 0;
    display: block;
    color: rgba(255, 255, 255, 0.5);
}
h3 {
    margin: 0;
    font-family: 'Roboto Light', sans-serif;
    font-weight: normal;
}
h4 {
    margin: 0;
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
}
#buttons-wrap {
    width: 335px;
    margin: 0 auto;
}
button,
button:focus,
button:hover,
button:active {
    width: 100%;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background: none;
    padding: 15px 45px;
    outline: none;
}
button:hover {
    cursor: pointer;
    border-color: #fff;
}
#old-version {
    display: block;
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 480px) {
    .regulation > svg {
        width: 72px;
        height: 40px;
        padding: 0 10px;
    }
    .map {
        background-size: cover;
    }
}
.download-wrap {
    position: fixed;
    display: flex;
    top: 30px;
    width: 100%;
}
.download {
    width: 80%;
    border: solid 1px rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    max-width: 550px;
    display: flex;
    padding: 15px 0px;
    align-items: center;
    margin: 0 auto;
}
.download svg {
    position: absolute;
    left: 0;
}
.download:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}
.download:hover strong {
    color: #2cac40;
}
.download:hover > div {
    color: #2cac40;
    color: rgba(255, 255, 255, 1.0);
}
.download:hover svg g {
    fill: #2cac40;
}
.download > div {
    padding: 3px 30px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    line-height: 17px;
}
.download > div:first-child {
    border-right: solid 1px rgba(255, 255, 255, 0.3);
    width: 45%;
}
.download > div:last-child {
    width: 55%;
}
.download > div strong {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 1.0);
    margin-top: 3px;
    display: inline-block;
}
.os {
    display: none;
    padding-left: 40px;
    position: relative;
    height: 40px;
}
.crash-block {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}
.crash-block::before {
    content: "";
    background-color: #2e3851;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}
.crash-block::after {
    content: "";
    background: url('map.png');
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.crash-center-block {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.crash-center-block-item {
    flex: 0 0 auto;
}
.crash-img-block {
    width: 100px;
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    text-align: left;
}
.crash-img-block-vertical {
    width: 100px;
    margin-top: 25px;
    text-align: center;
    display: inline-block;
}
.crash-info-block {
    width: 400px;
    display: inline-block;
}
.crash-info-block-vertical {
    width: 300px;
    display: inline-block;
}
.crash-header {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 25px 0px 25px 0px;
    text-align: left;
}
.crash-header-vertical {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: bold;
    margin: 25px 0px 25px 0px;
    text-align: center;
}
.crash-info {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.29em;
    font-weight: normal;
    text-align: left;
}
.crash-info-vertical {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.29em;
    font-weight: normal;
    text-align: center;
}
.crash-apps-container {
    margin-top: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.crash-apps-container-vertical {
    margin-top: 25px;
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}
.crash-support-link-horizontal {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    display: block;
    width: 180px;
    height: 100px;
    border-radius: 3px;
    border: solid 1px #2cac40;
    flex: 0 0 auto;
    padding: 27px 16px 0 16px;
}
.crash-support-link-horizontal:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.crash-support-link-vertical {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    color: #fff;
    width: 300px;
    height: 48px;
    border-radius: 3px;
    border: solid 1px #2cac40;
    padding-top: 14px;
}
.crash-support-link-vertical:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.crash-download-horizontal {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    display: block;
    flex: 0 0 auto;
    width: 310px;
    height: 100px;
    border-radius: 3px;
    border: solid 1px rgba(255, 255, 255, 0.7);
    margin-left: 20px;
    padding-top: 20px;
}
.crash-download-horizontal:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.crash-download-vertical {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    display: block;
    width: 300px;
    height: 85px;
    border-radius: 3px;
    border: solid 1px rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    padding-top: 11px;
}
.crash-download-vertical:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.crash-download-text {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
}
.crash-download-text-title {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
}
.crash-download-text-descr {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-align: left;
    margin-top: 3px;
}
.crash-img-app {
    margin-top: 8px;
}
#debug_log_container {
    color: black;
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    display: none;
    font-size: 12px;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    z-index: 9999;
}
#debug_log_switch {
    color: crimson;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
}
#debug_log_messages {
    display: none;
    font-size: 12px;
}
#winSize,
#macSize {
    display: inline;
}
@media all and (max-width: 700px) {	
   .download-wrap{display:none;}
   .regulation-wrap{display:none;}
}

@media all and (max-height: 500px) {
   .download-wrap{display:none;}
   .regulation-wrap{display:none;}
}
